/*
 * -------------------------------------------------
 *  Nextflow CoNIFER Plots config file
 * -------------------------------------------------
 */

params {

    // required inputs
    input = null
    assay = null

    // defaults
    // Note: params.conifer_baselines_directory and params.outdir must be defined in `profiles` scope below
    cnv_caller = 'contra'
    publish_mode = 'copy'
    
    assays {

        'OPXv6' {
            ref_gene = 'data/OPXv6.ref_gene.txt'
            cnv_window = 20
            cnv_min_log = 0.5

            cnv_callers {
                
                'contra' {
                    conifer_baseline = "${params.conifer_baselines_directory}/OPXv6.contra.conifer_baseline.2020-01-14.feather"
                    conifer_components = 12
                }
            }    
        }
    }

}

profiles {

    singularity {
        params {
            conifer_baselines_directory = '/mnt/disk2/com/Genomes/CoNIFER_Baselines'
            outdir = 'CNV_plots'
        }
        process.executor = 'local'
        process.container = '/mnt/disk10/users/wcjohnso/singularity/images/munge_v4.5.simg'
        max_cpus = 32
        max_memory = 128.GB
        docker.enabled = false
        singularity.autoMounts = true
        singularity.enabled = true
    }

    uw_batch {
        params {
            conifer_baselines_directory = 's3://uwlm-personal/nkrumm/conifer/CoNIFER_Baselines'
            outdir = 's3://uwlm-personal/nkrumm/conifer/out'
            genome_fasta = "s3://labmed-genomes/hg19_chr/human_g1k_v37.fasta"
            target_file = "s3://labmed-genomes/OncoPlex_v6_112018_no_chr.probes"
        }
        workDir = "s3://uwlm-nextflow-data/workdir/nextflow-conifer-plots"
        withLabel:munge {
            container = "nkrumm/munge:latest"
        }
        withLabel:contra {
            container = "nkrumm/contra:latest"
        }
        process {
            scratch = "/docker_scratch"
            queue = "ngs-queue"
            executor = "awsbatch"
        }
        aws {
            region = "us-west-2"
            batch {
                volumes = "/docker_scratch"
                cliPath = "/home/ec2-user/miniconda/bin/aws"
            }
        }
    }
}