/*
 * -------------------------------------------------
 *  Nextflow CoNIFER Plots config file
 * -------------------------------------------------
 */

params {

    // required inputs
    input = null
    assay = null

    // defaults
    outdir = 'CNV_plots'
    cnv_caller = 'contra'
    publish_mode = 'copy'
    conifer_baselines_directory = '/mnt/disk2/com/Genomes/CoNIFER_Baselines'

    assays {

        'OPXv6' {
            ref_gene = 'data/OPXv6.ref_gene.txt'
            cnv_window = 20
            cnv_min_log = 0.5

            cnv_callers {
                
                'contra' {
                    conifer_baseline = "${params.conifer_baselines_directory}/OPXv6.contra.conifer_baseline.2020-01-14.feather"
                    conifer_components = 12
                }
            }    
        }
    }

}

profiles {

    singularity {

        process.executor = 'local'
        process.container = '/mnt/disk10/users/wcjohnso/singularity/images/munge_v4.5.simg'
        max_cpus = 32
        max_memory = 128.GB
        docker.enabled = false
        singularity.autoMounts = true
        singularity.enabled = true
    }
}